// --------------------------------------------------
// NEXTGEN LEADS - FORM STYLES
// --------------------------------------------------


// --------------------------------------------------
// VARIABLES

@colorValid: #B3CE8D;
@colorInvalid: #E89294;
@colorValidLight: #ECF3E2;
@colorInvalidLight: #F9E4E4;
@colorValidDark: #8DC63F;
@colorInvalidDark: #B12B2B;
@colorFocus: rgba(0,0,0,0.5);

// END VARIABLES
// --------------------------------------------------


// --------------------------------------------------
// GENERAL FORM STYLE OVERRRIDES

legend {
	color: @colorSecondary;
}

fieldset {

	p {
		legend + & {
			margin-top: 15px;
		}

		&.info {
			color: #888;
			font-style: italic;
		}
	}

	&.collapsed {
		height: 0;
		overflow: hidden;
	}

	&.disabled {
		background-color: #F5F5F5;

		* {
			cursor: no-drop;
		}

		legend {
			color: #808080;
		}
	}
}

.helper {
	.gradient(#E1E1E1, #E1E1E1, #ECECEC);
	.inline-block;
	border: 1px solid #CCC;
	color: #555;
	font-weight: bold;
	line-height: 40px;
	height: 40px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 40px;

	&.left {
		.border-radius(3px 0 0 3px);
		border-right: 0;
		margin-right: -40px;
	}

	&.right {
		.border-radius(0 3px 3px 0);
		border-left: 0;
		margin-left: -40px;
	}

	&.help {
		cursor: help;
	}
}

// END GENERAL FORM STYLE OVERRRIDES
// --------------------------------------------------


// --------------------------------------------------
// CONTROL GROUP STYLES

.control-group {

	&.required .control-label {
		font-weight: bold;
	}

	.controls {
		.validation-icon {
			margin-left: 10px;
		}

		.error-msg {
			color: #B00;
			font-size: 12px;
			font-style: italic;
			font-weight: bold;
		}
	}
}

// END CONTROL GROUP STYLES
// --------------------------------------------------


// --------------------------------------------------
// TEXT INPUT STYLES

// Text Inputs
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
.textarea-wrapper {
	.border-radius(3px);
	border: 1px solid #CCC;

	&:focus,
	&.focus {
		.box-shadow(0 0 3px @colorFocus);
		outline: 0;
	}
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
	.helper.left + & {
		padding-left: 50px;
	}

	&.currency {
		text-align: right;
	}
}

.textarea-wrapper {
	.inline-block;
	padding: 0;
	vertical-align: top;

	textarea {
		padding: 10px;
	}

	.textarea-mirror {
		left: -9999px;
		position: absolute;
	}
}

// END TEXT INPUT STYLES
// --------------------------------------------------


// --------------------------------------------------
// SELECT STYLES

.select-wrapper {

	.select-content {
		line-height: 38px;
	}
}

.select-wrapper,
.multi-select-wrapper {
	.border-radius(3px);
	border: 1px solid #CCC;

	&.focus {
		.box-shadow(0 0 3px @colorFocus);
		outline: 0;
	}
}

// END SELECT STYLES
// --------------------------------------------------


// --------------------------------------------------
// RADIO STYLES

.radio-group {
	.border-radius(3px);
	.clearfix;
	.inline-block;
	line-height: 40px;
	min-height: 40px;
	padding: 0 10px;
	vertical-align: top;

	&.h {
		
		label {
			float: left;
			margin-left: 30px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.v {

	}
}

.radio-wrapper {
	.border-radius(20px);

	.radio {
		.border-radius(20px);
		border: 2px solid #333;
	}

	&.focus {
		.box-shadow(0 0 3px @colorFocus);
		outline: 0;
	}
}

// END RADIO STYLES
// --------------------------------------------------


// --------------------------------------------------
// CHECKBOX STYLES

.checkbox-group {
	.border-radius(3px);
	.clearfix;
	.inline-block;
	line-height: 40px;
	min-height: 40px;
	padding: 0 10px;
	vertical-align: top;

	&.h {
		
		label {
			float: left;
			margin-left: 30px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.v {

	}
}

.checkbox-wrapper {

	.box {
		.border-radius(2px);
		border: 2px solid #333;
	}

	&.focus {
		.box-shadow(0 0 3px @colorFocus);
		outline: 0;
	}
}

// END CHECKBOX STYLES
// --------------------------------------------------


// --------------------------------------------------
// BUTTON STYLES

.button(@lighter: #0072BC, @light: #0061A1, @dark: #0062B0, @darker: #005497) {
	.border-radius(3px);
	.box-shadow(0 3px 0 darken(@darker, 10%));
	.gradient(@light, @light, @lighter);
	border-bottom: 1px solid @lighter;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;

	i {
		.gradient(@darker, @darker, @dark);
		float: left;
		margin: 0 20px 0 -20px;
		width: 40px;
	}

	&:hover {
		.gradient(lighten(@light, 7%), lighten(@light, 7%), lighten(@lighter, 7%));

		i {
			.gradient(lighten(@darker, 7%), lighten(@darker, 7%), lighten(@dark, 7%));
		}
	}

	&:active {
		.gradient(lighten(@light, 7%), lighten(@light, 7%), lighten(@lighter, 7%));
		.box-shadow(0 1px 0 darken(@darker, 15%));
		margin-top: 2px;

		i {
			.gradient(lighten(@darker, 7%), lighten(@darker, 7%), lighten(@dark, 7%));
		}
	}
}

button {
	.button();
}

button.green {
	.button(#8DC63F, #79A936, #70B32C, #609926);
}

button.red {
	.button(#B12B2B, #972525, #9A1E1E, #841A1A);
}

button.gray {
	.button(#B7B7B7, #9C9C9C, #9B9B9B, #848484);
	color: #C7C7C7;
}

// END BUTTON STYLES
// --------------------------------------------------


// --------------------------------------------------
// VALIDATION STYLES

// Default styles for valid icons
.validation-icon {
	.inline-block;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
}

// Input fields
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {

	&.ng-dirty.ng-valid {
		border: 1px solid @colorValid;
	}

	&.ng-dirty.ng-invalid {
		border: 1px solid @colorInvalid;
	}
}

.control-group {

	&.valid {

		i.validation-icon {
			color: @colorValidDark;
		}

		.radio-group,
		.checkbox-group {
			background-color: @colorValidLight;
		}

		.textarea-wrapper,
		.select-wrapper {
			border: 1px solid @colorValid;
		}
	}

	&.invalid {

		i.validation-icon {
			color: @colorInvalidDark;
		}

		.radio-group,
		.checkbox-group {
			background-color: @colorInvalidLight;
		}

		.radio,
		.box {
			border: 2px solid @colorInvalidDark;
		}

		.textarea-wrapper,
		.select-wrapper {
			border: 1px solid @colorInvalid;
		}
	}
}

// END VALIDATION STYLES
// --------------------------------------------------