<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MarketPlace Login - NextGen Leads - High Quality Leads that Convert</title>
	<link rel="stylesheet" href="/assets/css/marketplace.css">
</head>
<body>
	<div class="wrapper">
		<section id="header">
			<div class="branding">
				<a class="link-home" href="/marketplace">
					<img src="/assets/img/logos/nextgen-leads-logo-220x60.png" alt="NextGen Leads">
				</a>
			</div>
		</section>
		<section id="body">
			
			<div class="user-login">
				<header>
					<h2>Marketplace Login</h2>
				</header>
				<div class="content">
					<form name="login" id="form-login">
						<div class="control-group h">
							<label class="control-label" for="email">Email Address:</label>
							<div class="controls">
								<input type="email">
							</div>
						</div>
						<div class="control-group h">
							<label class="control-label" for="password">Password:</label>
							<div class="controls">
								<input type="password">
							</div>
						</div>
						<div class="control-group h">
							<label class="control-label" for="remember">&nbsp;</label>
							<div class="controls">
								<label><input type="radio" name="remember" id="form-login--remember--1" class="" />Remember me</label>
							</div>
						</div>
						<div class="control-group h">
							<label class="control-label" for="log-in">&nbsp;</label>
							<div class="controls">
								<button>Login</button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</section>
	</div>
</body>
</html>