<!doctype html>
<html lang="en" ng-app="Marketplace">
<head>
	<meta charset="UTF-8">
	<title>MarketPlace - NextGen Leads - High Quality Leads that Convert</title>
	<script src="/apps/marketplace/app.js"></script>
	<link rel="stylesheet" href="/assets/css/marketplace.css">
</head>
<body ng-controller="Marketplace_Ctrl">
	<div class="wrapper">
		<section id="header">
			<div class="branding">
				<a class="link-home" href="/marketplace">
					<img src="/assets/img/logos/nextgen-leads-logo-220x60.png" alt="NextGen Leads">
				</a>
			</div>

			<nav class="primary">
				<ol>
					<li id="nav-campaigns"><a href="/marketplace/campaigns">Campaigns</a></li>
					<li id="nav-leads"><a href="/marketplace/leads">Leads</a></li>
					<li id="nav-reports"><a href="/marketplace/reports">Reports</a></li>
					<li id="nav-settings">
						<a href="javascript:void(0)">Settings</a>
						<ol class="sub-nav">
							<li><a href="/marketplace/settings/billing"><i class="ngl-credit-card"></i>Billing Settings</a></li>
							<li><a href="/marketplace/settings/company"><i class="ngl-settings"></i>Company Settings</a></li>
						</ol>
					</li>
				</ol>
			</nav>

			<div class="profile">
				<div class="user-info">
					<div class="avatar">
						<img src="/assets/avatars/uid.png" alt="Ronnie Garcia">
					</div>
					<div class="content">
						<p class="company-name">NextGen Leads</p>
						<p class="user-name">Ronnie Garcia</p>
					</div>
				</div>
				<div class="sub-menu">
					<ol>
						<li><a href="/marketplace/user/edit"><i class="ngl-edit"></i>Edit My Profile</a></li>
						<li><a href="/marketplace/logout"><i class="ngl-logout"></i>Logout</a></li>
					</ol>
				</div>
			</div>
		</section>
		<section id="body">
			
			<!-- MAIN CONTENT AREA -->
			<section ui-view id="main">
				
				<div class="breadcrumbs">
					Campaigns / List View
				</div>

				<div class="stage">
					<ol class="tabs">
						<li class="tab active">Tab One</li>
						<li class="tab">Tab Two</li>
						<li class="tab">Tab Three</li>
					</ol>

					<div class="content has-form">
						<h1>{{title}}</h1>

						<p>Fields in <strong>bold</strong> are required.</p>

						<form name="example" id="form-example" class="ngl">
							
							<fieldset>
								<legend>Text Inputs</legend>

								<div class="control-group required">
									<label class="control-label" for="">Field Label</label>
									<div class="controls">
										<input type="text">
									</div>
								</div>

								<div class="control-group required valid">
									<label class="control-label" for="">Field Label</label>
									<div class="controls">
										<input type="text" class="ng-valid"><i class="validation-icon ngl-check"></i>
									</div>
								</div>

								<div class="control-group required invalid">
									<label class="control-label" for="">Field Label</label>
									<div class="controls">
										<input type="text" class="ng-invalid"><i class="validation-icon ngl-exclamation-circle"></i>
										<p class="error-msg">This field is required</p>
									</div>
								</div>

							</fieldset>

							<fieldset>
								<legend>Radio Buttons</legend>

								<div class="control-group">
									<label class="control-label" for="">Radio Button</label>
									<div class="controls">
										<div class="radio-group h">
											<radio name="test" bullet="re-bullet" class="test" value="yes" ng-model="test">Yes</radio>
											<radio name="test" bullet="re-bullet" class="test" value="no" ng-model="test">No</radio>
											<radio name="test" bullet="re-bullet" class="test" value="maybe" ng-model="test">Maybe</radio>
										</div>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="">Radio Button</label>
									<div class="controls">
										<radio-group 
											options="testOptions" 
											id="form-null--test" 
											name="color" 
											class="h" 
											ng-model="test" 
											input-class="input-class">
										</radio-group>
									</div>
								</div>

								<p>The value is {{test}}</p>

							</fieldset>

						</form>
					</div>

					<div class="buttons">
						<button><i class="ngl-x"></i>Hello</button>
					</div>
				</div>

			</section>
			<!-- END MAIN CONTENT AREA -->

			<!-- SIDEBAR -->
			<section id="sidebar">
				<div class="account-balance">
					<p class="label">Account Balance:</p>
					<div class="balance">
						<div class="amount">$10,000.00</div>
						<div class="autofund"><i class="ngl-refresh"></i></div>
					</div>
				</div>

				<div class="vitals">
					<div class="metric">
						<div class="label">Active Campaigns:</div>
						<div class="value">2</div>
					</div>
					<div class="metric">
						<div class="label">New Leads (Today):</div>
						<div class="value">87</div>
					</div>
				</div>

				<div class="account-manager">
					<h3>Your Account Manager</h3>
					<div class="account-manager-info">
						<div class="avatar">
							<img src="/" alt="Chris Kelly">
						</div>
						<div class="content">
							<p class="name">Chris Kelly</p>
							<p class="phone"><strong>P:</strong> (619) 555-1212</p>
							<p class="email"><strong>E:</strong> <a href="mailto:chris.kelly@nextgenleads.com">chris.kelly@nextgenleads.com</a></p>
							<p class="email truncated"><strong>E:</strong> <a href="mailto:chris.kelly@nextgenleads.com">chris.kelly@nextgen...</a></p>
						</div>
					</div>
				</div>

				<div class="notifications">
					<div class="notification warning">
						<a href="javascript:void(0)" class="close"><i class="ngl-x"></i></a>
						<h2>Notification Title</h2>
						<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna.</p>
					</div>
					<div class="notification warning">
						<a href="javascript:void(0)" class="close"><i class="ngl-x"></i></a>
						<h2>Notification Title</h2>
						<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna.</p>
					</div>
				</div>
			</section>
			<!-- END SIDEBAR -->

		</section>
	</div>
</body>
</html>