<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MarketPlace - NextGen Leads - High Quality Leads that Convert</title>
</head>
<body>
	<div class="wrapper">
		<section id="header">
			<div class="branding">
				<a class="link-home" href="/marketplace">
					<img src="/assets/img/logos/" alt="NextGen Leads">
				</a>
			</div>

			<nav class="primary">
				<ol>
					<li id="nav-campaigns"><a href="/marketplace/campaigns">Campaigns</a></li>
					<li id="nav-leads"><a href="/marketplace/leads">Leads</a></li>
					<li id="nav-reports"><a href="/marketplace/reports">Reports</a></li>
					<li id="nav-settings"><a href="/marketplace/settings">Settings</a></li>
				</ol>
			</nav>

			<div class="profile">
				<div class="user-info">
					<div class="avatar">
						<img src="/assets/avatars/uid.png" alt="Ronnie Garcia">
					</div>
					<div class="content">
						<p class="company-name">NextGen Leads</p>
						<p class="user-name">Ronnie Garcia</p>
					</div>
				</div>
				<div class="sub-menu">
					<ol>
						<li><a href="/marketplace/user/edit">Edit My Profile</a></li>
						<li><a href="/marketplace/logout">Logout</a></li>
					</ol>
				</div>
			</div>
		</section>
		<section id="body">
			
			<!-- MAIN CONTENT AREA -->
			<section ui-view id="main">
				
				<div class="breadcrumbs">
					Campaigns / List View
				</div>

				<div class="stage">
					<div class="tabs">
						<li class="tab">Tab One</li>
						<li class="tab">Tab Two</li>
						<li class="tab">Tab Three</li>
					</div>

					<div class="content">
						<h1>Page Name</h1>
					</div>
				</div>

			</section>
			<!-- END MAIN CONTENT AREA -->

			<!-- SIDEBAR -->
			<section id="sidebar">
				<div class="account-balance">
					<p class="label">Account Balance:</p>
					<div class="balance">
						<div class="amount">$10,000.00</div>
						<div class="autofund"><i class="ngl-refresh"></i></div>
					</div>
				</div>

				<div class="vitals">
					<div class="metric">
						<div class="label">Active Campaigns:</div>
						<div class="value">2</div>
					</div>
					<div class="metric">
						<div class="label">New Leads (Today):</div>
						<div class="value">87</div>
					</div>
				</div>

				<div class="account-manager">
					<h3>Your Account Manager</h3>
					<div class="account-manager-info">
						<div class="avatar">
							<img src="/" alt="Chris Kelly">
						</div>
						<div class="content">
							<p class="name">Chris Kelly</p>
							<p class="phone"><strong>P:</strong> (619) 555-1212</p>
							<p class="email"><strong>E:</strong> <a href="mailto:chris.kelly@nextgenleads.com">chris.kelly@nextgenleads.com</a></p>
						</div>
					</div>
				</div>

				<div class="notifications">
					<div class="notification warning">
						<h2>Notification Title</h2>
						<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna.</p>
					</div>
					<div class="notification warning">
						<h2>Notification Title</h2>
						<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna.</p>
					</div>
				</div>
			</section>
			<!-- END SIDEBAR -->

		</section>
	</div>
</body>
</html>