<!-- CAMPAIGN LIST -->

<div class="campaign-stats">
	<div class="bid-info">
		<div class="bid-label">Your Maximum Bid:</div>
		<div class="bid">{{(campaign.bid | currency) || '--'}}</div>
		<div class="minimum-bid">
			<div class="label">Minimum Bid:</div>
			<div class="value">{{(vertical.minimum_bid[campaign.strategy] | currency) || '--'}}</div>
		</div>
		<div class="recommended-bid">
			<div class="label">Recommended Bid:</div>
			<div class="value">{{(vertical.recommended_bid[campaign.strategy] | currency) || '--'}}</div>
		</div>
	</div>
</div>

<div class="content has-form">
	<h1>New Campaign</h1>

	<form name="formCampaign" id="form-campaign" novalidate>
		<p>Fields in <strong>bold</strong> are required.</p>
		
		<fieldset>
			<legend>Step 1: Choose a Lead Type</legend>
			<p>Choose the type of lead you want to buy with this campaign.  Each campaign can only target one type of lead.</p>

			<div class="control-group required">
				<label class="control-label" for="campaign[vertical_id]">What type of leads do you want to buy?</label>
				<div class="controls">
					<dropdown options="verticalOptions" ng-model="campaign.vertical_id"></dropdown>
				</div>
			</div>

		</fieldset>

		<fieldset>
			<legend>Step 2: Name Your Campaign</legend>
			<p>Give your campaign a name so you can identify it in your dashboard.</p>

			<div class="control-group required" ng-class="{valid: formCampaign.name.$valid, invalid: formCampaign.name.$invalid}">
				<label class="control-label" for="campaign[name]">What do you want to name your campaign?</label>
				<div class="controls">
					<input type="text" ng-model="campaign.name" name="name" validation="validation.name" placeholder="e.g. Basic Health Leads"><i class="validation-icon" ng-class="{'ngl-check': formCampaign.name.$valid, 'ngl-exclamation': formCampaign.name.$invalid}"></i>
					<p class="form-error">{{formCampaign.name.$errorMessage}}</p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="campaign[description]">You can give your campaign a short description (optional):</label>
				<div class="controls">
					<textbox ng-model="campaign.description" autosize></textbox>
				</div>
			</div>

		</fieldset>

		<!-- BEGIN IF -->
		<div ng-show="showFullForm">

			<fieldset>
				<legend>Step 3: Location Targeting</legend>
				<p>Target your campaign so you only receive leads from certain states or zip codes.</p>
				<dropdown options="[{label: 'Target by State', value: 'state'}, {label: 'Target by Zip Code', value: 'zip'}]" ng-model="targetingType"></dropdown>
				
				<hr>

				<!-- STATE TARGETING -->
				<div class="row" ng-show="targetingType=='state'">
					<div id="state-list">
						<div class="state-group" ng-repeat="stateGroup in stateOptions">
							<checkbox-group ng-model="campaign.targeting.states" options="stateGroup"></checkbox-group>
						</div>
					</div>
					<state-selector id="state-map" ng-model="campaign.targeting.states"></state-selector>
				</div>
				<!-- END STATE TARGETING -->

				<!-- ZIP TARGETING -->
				<div class="row tight" ng-show="targetingType=='zip'">
					<div class="control-group">
						<label class="control-label">Enter zip codes in the box below, one per line.</label>
						<div class="controls">
							<textbox ng-model="zipRaw" id="zip-targeting" autosize></textbox>
						</div>
					</div>
				</div>
				<!-- END ZIP TARGETING -->

			</fieldset>

			<fieldset>
				<legend>Step 4: Lead Exclusivity Settings</legend>
				<p>Exclusive leads have a higher potential for conversion since you're not sharing them with anyone, but they cost a little more. Choose if you want exclusive or shared leads for this campaign.</p>
			
				<div class="control-group">
					<label class="control-label" for="campaign[exclusive]">What types of leads (shared or exclusive) do you want this campaign to receive?</label>
					<div class="controls">
						<dropdown options="[{label: 'Shared', value: 'shared'}, {label: 'Exclusive', value: 'exclusive'}]" ng-model="campaign.strategy"></dropdown>
					</div>
				</div>

			</fieldset>

			<fieldset>
				<legend>Step 5: Precision Targeting</legend>
				<p>You can set filters on your campaign so you only get leads that match the criteria you want. Using the options below, set up your precise targeting now. These fields are not required.</p>
				<div class="filters" ui-view="filters"></div>
			</fieldset>

			<fieldset collapsable>
				<legend>Step 6: Budgeting <i class="ngl-chevron-up collapse toggle-collapse"></i><i class="ngl-chevron-down expand toggle-collapse"></i></legend>
				<p>Limit the amount of money you spend per day and how much you are willing to spend per lead.</p>
				
				<div class="control-group">
					<label class="control-label" for="campaign[daily_budget]">Maximum Daily Budget:</label>
					<div class="controls">
						<div class="helper left">$</div>
						<input type="text" class="currency sm" mask="currency" ng-model="campaign.daily_budget">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="campaign[bid]">Maximum Bid (The highest price you are willing to pay per lead):</label>
					<div class="controls">
						<div class="helper left">$</div>
						<input type="text" class="currency sm" mask="currency" ng-model="campaign.bid">
						<div class="bid-numbers">
							<div class="labels">
								Minimum Bid:<br />
								Recommended Bid:
							</div>
							<div class="values">
								{{(vertical.minimum_bid[campaign.strategy] | currency) || '--'}}<br />
								{{(vertical.recommended_bid[campaign.strategy] | currency) || '--'}}
							</div>
						</div>
					</div>
				</div>

			</fieldset>

			<fieldset>
				<legend>Step 7: Delivery Schedule</legend>
				<div class="schedule-wrapper">
					<div class="row">
						<button class="red float-right" ng-click="clearDeliverySchedule()"><i class="ngl-cancel"></i>Clear Selection</button>
					</div>
					<delivery-schedule ng-model="campaign.delivery_schedule"></delivery-schedule>
				</div>
			</fieldset>

		</div>
		<!-- END IF -->

	</form>

</div>

<div class="buttons">
	<button class="{{(showFullForm) ? 'green' : 'gray'}}" ng-disabled="form_campaign.$invalid"><i class="ngl-check"></i>Save</button>
</div>