<!-- USER PROFILE FORM -->

<div class="content has-form">
	<h1>Edit My User Profile</h1>
	<form name="user" id="form-user">

		<p>Fields in <strong>bold</strong> are required.</p>

		<fieldset>
			<legend>User Information</legend>

			<div class="control-group">
				<label class="control-label" for="user[name]">Name:</label>
				<div class="controls">
					<input type="text" name="user[name]" ng-model="user.name">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="user[email]">Email Address:</label>
				<div class="controls">
					<input type="email" name="user[email]" ng-model="user.email">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="user[phone]">Phone Number:</label>
				<div class="controls">
					<input type="text" name="user[phone]" ng-model="user.phone">
				</div>
			</div>

		</fieldset>

		<fieldset>
			<legend>Change Password</legend>
			<p class="info">To keep your password unchanged, leave this section blank.</p>
			
			<div class="control-group">
				<label class="control-label" for="user[old_password]">Current Password:</label>
				<div class="controls">
					<input type="password" name="user[old_password]" ng-model="user.old_password">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="user[new_password]">New Password:</label>
				<div class="controls">
					<input type="password" name="user[new_password]" ng-model="user.new_password">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="user[confirm_new_password]">Confirm New Password:</label>
				<div class="controls">
					<input type="password" name="user[confirm_new_password]" ng-model="user.confirm_new_password">
				</div>
			</div>

		</fieldset>

	</form>
</div>

<div class="buttons">
	<button class="green"><i class="ngl-check"></i>Save Changes</button>
</div>