<!-- CAMPAIGN LIST -->

<div class="content">
	<h1>Campaigns</h1>
	<div class="row tight">
		<button>New Campaign</button>
	</div>

	<!-- TABLE FILTERING -->
	<div class="row tight">
		<div class="group">
			<div class="filter">
				<dropdown ng-model="verticals_filter" options="verticals"></dropdown>
			</div>
			<div class="filter">
				<dropdown ng-model="status_filter" options="statuses"></dropdown>
			</div>
		</div>
		<div class="group">
			<date-range></date-range>
		</div>
	</div>

	<div class="row tight">
		<table cellspacing="0">
		    <thead>
		        <tr>
		        	<th class="s"><checkbox></checkbox></th>
		            <th>Campaign Name</th>
		            <th>Type</th>
		            <th>Lead Count</th>
		            <th>Spend</th>
		            <th>Daily Budget</th>
		            <th>CPL</th>
		            <th>Bid</th>
		            <th>Active</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		        </tr>
		    </tbody>
		</table>
	</div>

</div>