<section id="splash">
	<div class="container">
		
		<hgroup>
			<h1>High-Quality Leads That Convert!</h1>
			<h2>NextGen Leads provides high-quality, cost-effective health, auto,<br />medicare, home and life insurance leads that convert.</h2>
		</hgroup>

		<a ui-shref="/signup"><button class="signup-green signup" type="button">Sign Up Now</button></a>

	</div>
</section>
<!-- End Splash -->


<!-- Why NextGen Leads -->
<section id="why-nextgen">
	<div class="container">
		
		<h2>Why NextGen Leads?</h2>

		<div class="grid">
				
			<!-- Left Column -->
			<div class="column">
				<h3>Better Quality</h3>
				<p>We generate 100% of our leads in house and monitor quality constantly using feedback directly from our customers. And if a bad lead still slips through, you can return it for a refund - simple as that.</p>
			</div>
			
			<!-- Center Column -->
			<div class="column">
				<h3>Better Technology</h3>
				<p>Our industry-leading split testing and optimization technology means our lead quality and distribution are always improving.  We give you complete control over your leads with our powerful Buyer Interface.</p>
			</div>

			<!-- Right Column -->
			<div class="column">
				<h3>Better Service</h3>
				<p>Our straightforward billing, one-click CRM integration, and knowledgeable customer service team will make you wonder how you ever put up with the other guys.</p>
			</div>

		</div>

	</div>
</section>
<!-- End Why NextGen Leads -->


<!-- Features and Benefits -->
<section id="features-and-benefits">
	<div class="container">
		
		<h2>Features and Benefits</h2>

		<div class="grid">
				
			<!-- Left Column -->
			<div class="column">
				
				<div class="feature">
					<div class="icon trophy"></div>
					<div class="content">
						<h3>High-Quality Leads</h3>
						<p>Lead quality is our highest priority, and we relentlessly optimize and refine our lead sources to ensure that our contact and close rates are the highest in the indsutry.</p>
					</div>
				</div>

				<div class="feature">
					<div class="icon target"></div>
					<div class="content">
						<h3>Precise Targeting</h3>
						<p>We provide industry-leading targeting controls, allowing you to zero in on the customers that convert best for you.</p>
					</div>
				</div>

				<div class="feature">
					<div class="icon interface"></div>
					<div class="content">
						<h3>Custom Campaigns</h3>
						<p>Some things go better together, like Health and Life, or Home and Auto. We let you target people who are looking for multiple types of insurance, maximizing your revenue per sale.</p>
					</div>
				</div>

			</div>

			<!-- Right Column -->
			<div class="column">
				
				<div class="feature">
					<div class="icon puzzle"></div>
					<div class="content">
						<h3>CRM Integration</h3>
						<p>We integrate with most major CRMs with the click of a button, and for all the rest you can rely on our helpful Customer Care Specialists to get you integrated.</p>
					</div>
				</div>

				<div class="feature">
					<div class="icon folders"></div>
					<div class="content">
						<h3>Wide Range of Verticals</h3>
						<p>With leads in nearly a dozen insurance verticals, we probably have the leads you're looking for, and can provide unique cross-selling opportunities.</p>
					</div>
				</div>

				<div class="feature">
					<div class="icon headset"></div>
					<div class="content">
						<h3>Top Notch Customer Care</h3>
						<p>We've built our product to be dead simple to use, but we also know the importance of knowledgeable and helpful Customer Service Specialists. Give us a call!</p>
					</div>
				</div>

			</div>

		</div>

	</div>
</section>
<!-- End Features and Benefits -->


<!-- Track Leads -->
<section id="track-leads">
	<div class="container">
		
		<div class="content">
			<div id="screenshots"><!-- SCREENSHOTS --></div>
			<h2>Keep track<br />of all your leads!</h2>
			<p>Our industry leading Buyer Interface gives you a level of control over your leads that our competitors can't touch. Start and stop leads, change filters and daily limits, see where your leads are coming from and how much you're spending, and manage your account and billing information effortlessly. We'll even throw in one-click CRM integration just because we like you.</p>
		</div>

	</div>
</section>