<div class="company-balance">
	<div ng-class="fundsStatus" class="box box-front account-balance">
		<a ng-click="setBalance()" class="add-funds"><i class="fi-plus"></i>Add Funds</a>
		<h2>Account Balance</h2>
		<p class="large">{{  balances.available | currency:"$" }}</p>
	</div>


	<div class="box-back box">
		<h2>Add Funds</h2>
		<form name="funds" id="form-funds" balance-form ng-submit="addFund()">
			<div class="control-group h">
				<label class="control-label" for="method">Payment Method:</label>
				<div class="controls">
					<select name="payment_option_id" id="form-funds--method">
						<option ng-repeat="method in paymentMethods"
							value="{{ method.id }}"
							data-method-id="{{ method.id }}"
							data-company-id="{{ method.company_id }}">
								{{ method.name }} {{ method.showExpired(method.isExpired) }}
						</option>
					</select>
				</div>
			</div>

			<div class="control-group h">
				<label class="control-label" for="amount">Amount to Add:</label>
				<div class="controls">
					<div class="helper left">$</div>
					<input type="text" name="amount" id="form-funds--amount" class="text currency" value="500" placeholder="" />
				</div>
			</div>

			<hr>

			<button type="submit" class="btn green"><i class="fi-check"></i> Add Funds</button> &nbsp; <a href="javascript:void(0)" class="close">Cancel</a>
		</form>
	</div>
</div>