<header></header>
<!-- Navigation -->
<section id="navigation">
	<div class="container">
		<nav class="primary">
			<a ng-click="goTo('why-nextgen')">Why NextGen Leads</a>
			<a ng-click="goTo('features-and-benefits')">Features and Benefits</a>
			<a ng-click="goTo('our-company')">Our Company</a>
		</nav>
	</div>
</section>
<!-- End Navigation -->


<!-- Splash -->
<section id="splash">
	<div class="container">
		
		<hgroup>
			<h1>High-Quality Leads That Convert!</h1>
			<h2>NextGen Leads provides high-quality, cost-effective health, auto,<br />medicare, home and life insurance leads that convert.</h2>
		</hgroup>

		<a href="/signup"><button class="signup-green signup" type="button">Sign Up Now</button></a>

	</div>
</section>
<!-- End Splash -->


<!-- Why NextGen Leads -->
<section id="why-nextgen">
	<div class="container">
		
		<h2>Why NextGen Leads?</h2>

		<div class="grid">
				
			<!-- Left Column -->
			<div class="column">
				<h3>Better Quality</h3>
				<p>We generate 100% of our leads in house and monitor quality constantly using feedback directly from our customers. And if a bad lead still slips through, you can return it for a refund - simple as that.</p>
			</div>
			
			<!-- Center Column -->
			<div class="column">
				<h3>Better Technology</h3>
				<p>Our industry-leading split testing and optimization technology means our lead quality and distribution are always improving.  We give you complete control over your leads with our powerful Buyer Interface.</p>
			</div>

			<!-- Right Column -->
			<div class="column">
				<h3>Better Service</h3>
				<p>Our straightforward billing, one-click CRM integration, and knowledgeable customer service team will make you wonder how you ever put up with the other guys.</p>
			</div>

		</div>

	</div>
</section>
<!-- End Why NextGen Leads -->


<!-- Features and Benefits -->
<section id="features-and-benefits">
	<div class="container">
		
		<h2>Features and Benefits</h2>

		<div class="grid">
				
			<!-- Left Column -->
			<div class="column">
				
				<div class="feature">
					<div class="icon trophy"></div>
					<div class="content">
						<h3>High-Quality Leads</h3>
						<p>Lead quality is our highest priority, and we relentlessly optimize and refine our lead sources to ensure that our contact and close rates are the highest in the indsutry.</p>
					</div>
				</div>

				<div class="feature">
					<div class="icon target"></div>
					<div class="content">
						<h3>Precise Targeting</h3>
						<p>We provide industry-leading targeting controls, allowing you to zero in on the customers that convert best for you.</p>
					</div>
				</div>

				<div class="feature">
					<div class="icon interface"></div>
					<div class="content">
						<h3>Custom Campaigns</h3>
						<p>Some things go better together, like Health and Life, or Home and Auto. We let you target people who are looking for multiple types of insurance, maximizing your revenue per sale.</p>
					</div>
				</div>

			</div>

			<!-- Right Column -->
			<div class="column">
				
				<div class="feature">
					<div class="icon puzzle"></div>
					<div class="content">
						<h3>CRM Integration</h3>
						<p>We integrate with most major CRMs with the click of a button, and for all the rest you can rely on our helpful Customer Care Specialists to get you integrated.</p>
					</div>
				</div>

				<div class="feature">
					<div class="icon folders"></div>
					<div class="content">
						<h3>Wide Range of Verticals</h3>
						<p>With leads in nearly a dozen insurance verticals, we probably have the leads you're looking for, and can provide unique cross-selling opportunities.</p>
					</div>
				</div>

				<div class="feature">
					<div class="icon headset"></div>
					<div class="content">
						<h3>Top Notch Customer Care</h3>
						<p>We've built our product to be dead simple to use, but we also know the importance of knowledgeable and helpful Customer Service Specialists. Give us a call!</p>
					</div>
				</div>

			</div>

		</div>

	</div>
</section>
<!-- End Features and Benefits -->


<!-- Track Leads -->
<section id="track-leads">
	<div class="container">
		
		<div class="content">
			<div id="screenshots"><!-- SCREENSHOTS --></div>
			<h2>Keep track<br />of all your leads!</h2>
			<p>Our industry leading Buyer Interface gives you a level of control over your leads that our competitors can't touch. Start and stop leads, change filters and daily limits, see where your leads are coming from and how much you're spending, and manage your account and billing information effortlessly. We'll even throw in one-click CRM integration just because we like you.</p>
		</div>

	</div>
</section>
<!-- End Track Leads -->


<!-- Sign-Up Bar -->
<section id="signup">
	<div class="container">
		
		<a href="/signup"><button class="signup-gray signup" type="button">Sign Up Now</button></a>

		<hgroup>
			<h2>Sign Up Now and Get 10 Free Leads!</h2>
			<h3>Give us a try today and we'll help you jump start your campaigns with 10 free leads!</h3>
		</hgroup>

	</div>
</section>
<!-- End Sign-Up Bar -->


<!-- Our Company -->
<section id="our-company">
	<div class="container">
		
		<div class="content">
			<h2>Our Company</h2>
			<p>Based in San Diego, California, NextGen Leads is a unique collaborative effort between online marketing experts, technology pros and insurance industry veterans. We strive to be the best, and are passionate about providing the best possible lead buying experience for our customers.</p>
		</div>

		<div class="images">
			<img class="our-company-image-left" ng-src="/assets/img/our-company-01.png" alt="Developers at Work">
			<img class="our-company-image-right" ng-src="/assets/img/our-company-02.png" alt="Beautiful Downtown San Diego">
		</div>

	</div>
</section>
<!-- End Our Company -->


<!-- Contact Us -->
<section id="contact-us">
	<div class="container">
		
		<div class="contact-info">
			<h2>Contact Us</h2>
			<p>4110 Mission Blvd. Suite 200<br />
				San Diego, CA 92109<br />
				sales[at]nextgenleads.com</p>
			<ul class="links">
				<li><a href="/terms-and-conditions"><i class="re-arrow-circle-right"></i>Terms and Conditions</a></li>
			</ul>
		</div>

		<div class="contact-form">
			<form name="contact" id="form-contact" class="plain" method="post" action="">
			
				<div class="control-group">
					<div class="controls">
						<input type="text" name="from" id="form-contact--from" class="text medium" value="" placeholder="Your email address" />
					</div>
				</div>
				
				<div class="control-group">
					<div class="controls">
						<input type="text" name="subject" id="form-contact--subject" class="text long" value="" placeholder="Subject of your message" />
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<div id="form-contact--message-wrapper" class="textarea-wrapper">
							<textarea name="message" id="form-contact--message" class="" wrap="virtual" placeholder="Enter your message contents here..."></textarea>
						</div>
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<button id="form-contact--submit-btn" class="submit" type="button">Send Message</button>
					</div>
				</div>

			</form>
		</div>

	</div>
</section>

<footer-guest></footer-guest>


<!-- MODALS -->
<div class="modals">

	<div id="modal-signup-email" class="modal">
		<header class="modal-header">
			<h2>NextGen Leads is Coming Soon!</h2>
		</header>
		<div class="content">
			<p class="lead">NextGen Leads is currently bringing on customers on an invite-only basis. Please enter your email address if you are interested in signing up!</p>
			<form name="notify" id="form-notify" class="" method="get" action="http://nextgenleads.us3.list-manage1.com/subscribe/post-json?u=985fcf92cc32ca5d39bdefaa1&amp;id=4fcdef0ce7&c=?">
				<div class="control-group">
					<div class="controls">
						<input type="email" name="EMAIL" id="form-notify--email" class="text email" value="" placeholder="Enter your email address to get notified..." />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="button" class="btn green" id="notify-me-btn"><i class="fi-check"></i> Notify Me</button>
					</div>
				</div>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    			<div style="position: absolute; left: -5000px;"><input type="text" name="b_985fcf92cc32ca5d39bdefaa1_4fcdef0ce7" value=""></div>
			</form>
		</div>
	</div>
	
	<div id="modal-signup" class="modal">
		<div class="content">
			<div class="banner">
				<div class="shadow"></div>
				<div class="fold-left"></div>
				<div class="fold-right"></div>
				<h2>Sign Up Now and Get 10 Free Leads!</h2>
			</div>

			<p class="deal">We want you to experience the best lead generation tool the Internet has to offer.  Just fill out the form below to get started!  As a bonus for signing up, we'll give you <em>10 free leads</em> to jump start your campaigns!</p>

			<form name="signup" id="form-signup" class="shadowed" method="post" action="/signup">

				<input type="hidden" id="form-signup--timezone" name="signup[timezone]" value="">
				
				<div class="control-group horizontal">
					<label class="control-label" for="signup[name]">Full Name:</label>
					<div class="controls">
						<input name="signup[name]" value="" type="text" class="text" id="form-signup--name" placeholder="Your Full Name">
					</div>
				</div>

				<div class="control-group horizontal">
					<label class="control-label" for="signup[company]">Company:</label>
					<div class="controls">
						<input name="signup[company]" value="" type="text" class="text email" id="form-signup--company" placeholder="Company Name">
					</div>
				</div>

				<div class="control-group horizontal">
					<label class="control-label" for="signup[email]">Email:</label>
					<div class="controls">
						<input name="signup[email]" value="" type="text" class="text email" id="form-signup--email" placeholder="Email Address">
					</div>
				</div>

				<div class="control-group horizontal">
					<label class="control-label" for="signup[phone]">Phone:</label>
					<div class="controls">
						<input name="signup[phone]" value="" type="text" class="text phone" id="form-signup--phone" placeholder="Phone Number">
					</div>
				</div>

				<div class="control-group horizontal">
					<label class="control-label" for="signup[password]">Password:</label>
					<div class="controls">
						<input name="signup[password]" value="" type="password" class="text password half" id="form-signup--password" placeholder="Your Password">
						<input name="confirm" value="" type="password" class="text confirm half" id="form-signup--confirm" placeholder="Password Again">
					</div>
				</div>

				<div class="control-group horizontal">
					<label class="control-label">I want<br />leads for:</label>
					<div class="controls">
						<div class="checks">
							<label><input type="checkbox" name="signup[lead_types][]" id="form-signup--lead_types-1">Auto</label>
							<label><input type="checkbox" name="signup[lead_types][]" id="form-signup--lead_types-2">Health</label>
							<label><input type="checkbox" name="signup[lead_types][]" id="form-signup--lead_types-3">Medicaid</label>
						</div>
						<div class="checks">
							<label><input type="checkbox" name="signup[lead_types][]" id="form-signup--lead_types-4">Life</label>
							<label><input type="checkbox" name="signup[lead_types][]" id="form-signup--lead_types-5">Home</label>
							<label><input type="checkbox" name="signup[lead_types][]" id="form-signup--lead_types-6">Renter/Condo</label>
						</div>
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<button type="button" class="btn large submit" id="form-signup--submit-btn">Sign Me Up Now <i class="re-chevron-right"></i></button>
					</div>
				</div>

			</form>
		</div>
	</div>

	<div id="modal-processing" class="modal">
		<div class="content">
			<div class="loader"></div>
			<h2>Creating Your Account</h2>
			<h3>This should only take a few seconds...</h3>
		</div>
	</div>

	<div id="modal-email-success" class="modal">
		<div class="content">
			<h2>Your Email Was<br />Successfully Sent!</h2>
			<p>One of our representatives will be contacting you shortly.</p>
			<a href="javascript:void(0)" class="close">Close This Window</a>
		</div>
	</div>

	<div id="modal-signup-success" class="modal">
		<div class="content">
			<h2>Thanks!</h2>
			<p>We've created your account.  Please <a href="/marketplace/login">sign in</a> to continue.</p>
			<a href="javascript:void(0)" class="close">Close This Window</a>
		</div>
	</div>

</div>

<footer></footer>