<!doctype html>
<html lang="en" ng-app="buyersApp">
<head>
	<meta charset="UTF-8">
	<title>{{ g.head.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="{{ g.head.keywords }}">
	<meta name="description" content="{{ g.head.description }}">
	<link rel="stylesheet" type="text/css" media="all" href="styles.css" />
</head>
<body ng-class="pageClass(g.page_name)">
	<flash-message></flash-message>
	<div id="ng-view" ng-view></div>
	<script data-main="main" src="vendor/requirejs/require.js"></script>
</body>
</html>